# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root123
MYSQL_DATABASE=creditdb
MYSQL_TABLE=transactions

# MongoDB Configuration
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/
MONGO_DATABASE=frauddb
MONGO_COLLECTION=transactions

# Paths
DATA_DIR=./data
BRONZE_DIR=./bronze
SILVER_DIR=./silver
GOLD_DIR=./gold
LOGS_DIR=./logs

# CSV Files
MYSQL_CSV_FILE=./data/credit-card1.csv
MONGO_CSV_FILE=./data/credit-card2.csv

# Retry Configuration
DB_RETRY_COUNT=10
DB_RETRY_DELAY=3
