version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    env_file:
      - ../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - private-net

  python-app:
    build:
      context: ..
      dockerfile: docker/python-app.Dockerfile
    container_name: python-app
    env_file:
      - ../.env
    volumes:
      - ../scripts:/app/scripts
      - ../data:/app/data
    depends_on:
      - mysql
    networks:
      - private-net

networks:
  private-net:

volumes:
  mysql_data: