MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=testdb

MYSQL_CSV_FILE=/app/data/credit-card1.csv

DB_RETRY_COUNT=10
DB_RETRY_DELAY=3


MONGO_URI=mongodb+srv://aluno:SENHA@cluster-credit-card.pvrdeyi.mongodb.net/?appName=Cluster-credit-card
MONGO_DB=creditcard
MONGO_COLLECTION=transactions